{% extends "base.html" %}
{% load static %}
{% load companies_tags %}

{% block title %}
  {{ page_title }}
{% endblock title %}

{% block head %}
<link rel="search" type="application/opensearchdescription+xml" title="Stack Overflow" href='/opensearch.xml' />
<link rel="stylesheet" href="/static/css/table-column-resize.css">
{% endblock head %}

{% block content %}

<!-- messages -->
{% if messages %}
{% for message in messages %}
<h1 class='message {{ message.tags }}'>
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
  {{ message }}
</h1>
{% endfor %}
{% endif %}

{% if caption %}
<h1 class="mt-5 text-2xl text-center">{{ caption }}</h1>
{% if add_all_url %}
  <!-- add all selfassesments -->
  {% if request.user.is_superuser %}
  <div class="grid mt-5 place-items-center">
    <a href="{% url add_all_url %}" class="px-4 py-2 font-semibold rounded-md create text-md">
      {{ add_all_text }}</a>
  </div>
  {% endif %}
{% endif %}
{% endif %}

<!-- searchbar -->
{% include "companies/searchbar.html" %}

<!-- represent data -->
<div class="relative mx-auto max-w-min">
  <!-- tasks -->
  {% if counts %}  
    {% if tracker_task_counts %}    
      <div class="task-container">
        <span class="task task-issue" data-tasks='task_has_issue'>
          <span id="task-count">{{ task_has_issue }}</span>
          <span class="task-tooltip">Tasks having issue.</span>
        </span>
        <span class="task task-previous" data-tasks='previous_incomplete_tasks'>
          <span id="task-count">{{ previous_incomplete_tasks }}</span>
          <span class="task-tooltip">Previous remaining tasks.</span>
        </span>
        <span class="task task-today" data-tasks='todays_incomplete_tasks'>
          <span id="task-count">{{ todays_incomplete_tasks }}</span>
          <span class="task-tooltip">Todays remaining tasks.</span>
        </span>
        <span class="task task-upcoming" data-tasks='future_incomplete_tasks'>
          <span id="task-count">{{ future_incomplete_tasks }}</span>
          <span class="task-tooltip">Upcoming tasks.</span>
        </span>
        <span class="task task-done" data-tasks='new_customers'>
          <span id="task-count">{{ new_customers }}</span>
          <span class="task-tooltip">New Customers.</span>
        </span>
      </div>
    {% elif selfassesment_counts %}
      <div class="task-container">
        <span class="task task-previous" data-tasks='selfassesment_UTR_NOT_SET'>
          <span id="task-count">{{ selfassesment_UTR_NOT_SET }}</span>
          <span class="task-tooltip">UTR not set.</span>
        </span>
        <span class="task task-done" data-tasks='selfassesment_Client_IS_ACTIVE'>
          <span id="task-count">{{ selfassesment_Client_IS_ACTIVE }}</span>
          <span class="task-tooltip">Client active.</span>
        </span>
        <span class="task task-previous" data-tasks='selfassesment_Client_IS_INACTIVE'>
          <span id="task-count">{{ selfassesment_Client_IS_INACTIVE }}</span>
          <span class="task-tooltip">Client inactive.</span>
        </span>
        <span class="task task-today" data-tasks='selfassesment_AGENT_NOT_ACTIVE'>
          <span id="task-count">{{ selfassesment_AGENT_NOT_ACTIVE }}</span>
          <span class="task-tooltip">Agent Inactive.</span>
        </span>
        <span class="task task-own" data-tasks='selfassesment_not_added_in_selfassesment_account_submission'>
          <span id="task-count">{{ selfassesment_not_added_in_selfassesment_account_submission }}</span>
          <span class="task-tooltip">Selfssesments not added in Selfassesment Account Submission for current tax year</span>
        </span>
      </div>
    {% elif selfassesment_account_submission_counts %}
      <div class="task-container">
        <span class="task task-previous" data-tasks='selfassesment_account_submission_status_REQUEST'>
          <span id="task-count">{{ selfassesment_account_submission_status_REQUEST }}</span>
          <span class="task-tooltip">Status - REQUEST.</span>
        </span>
        <span class="task task-own" data-tasks='selfassesment_account_submission_status_PRIORITY'>
          <span id="task-count">{{ selfassesment_account_submission_status_PRIORITY }}</span>
          <span class="task-tooltip">Status - PRIORITY.</span>
        </span>
        <span class="task task-today" data-tasks='selfassesment_account_submission_status_PROCESSING'>
          <span id="task-count">{{ selfassesment_account_submission_status_PROCESSING }}</span>
          <span class="task-tooltip">Status - PROCESSING.</span>
        </span>
        <span class="task task-issue" data-tasks='selfassesment_account_submission_status_BOOK_APPOINTMENT'>
          <span id="task-count">{{ selfassesment_account_submission_status_BOOK_APPOINTMENT }}</span>
          <span class="task-tooltip">Status - BOOK APPOINTMENT.</span>
        </span>
        <span class="task task-own" data-tasks='selfassesment_account_submission_status_READY_FOR_SUBMIT'>
          <span id="task-count">{{ selfassesment_account_submission_status_READY_FOR_SUBMIT }}</span>
          <span class="task-tooltip">Status - READY FOR SUBMIT.</span>
        </span>
        <span class="task task-upcoming" data-tasks='selfassesment_account_submission_status_WAITING_FOR_CONFIRMATION'>
          <span id="task-count">{{ selfassesment_account_submission_status_WAITING_FOR_CONFIRMATION }}</span>
          <span class="task-tooltip">Status - WAITING FOR CONFIRMATION.</span>
        </span>
        <span class="task task-done" data-tasks='selfassesment_account_submission_status_SUBMITTED'>
          <span id="task-count">{{ selfassesment_account_submission_status_SUBMITTED }}</span>
          <span class="task-tooltip">Status - SUBMITTED.</span>
        </span>
        <span class="task task-previous" data-tasks='selfassesment_account_submission_status_NOT_PAID'>
          <span id="task-count">{{ selfassesment_account_submission_status_NOT_PAID }}</span>
          <span class="task-tooltip">Payment Status - NOT PAID.</span>
        </span>
        <span class="task task-done" data-tasks='selfassesment_account_submission_status_PAID'>
          <span id="task-count">{{ selfassesment_account_submission_status_PAID }}</span>
          <span class="task-tooltip">Payment Status - PAID.</span>
        </span>
        <span class="task task-own" data-tasks='selfassesment_account_submission_status_ASSIGEND_TO_ME'>
          <span id="task-count">{{ selfassesment_account_submission_status_ASSIGEND_TO_ME }}</span>
          <span class="task-tooltip">Assigned to me.</span>
        </span>
        <span class="task task-previous" data-tasks='selfassesment_account_submission_status_NOT_ASSIGEND'>
          <span id="task-count">{{ selfassesment_account_submission_status_NOT_ASSIGEND }}</span>
          <span class="task-tooltip">Not Assigned.</span>
        </span>
        <span class="task task-done" data-tasks='selfassesment_account_submission_data_collected'>
          <span id="task-count">{{ selfassesment_account_submission_data_collected }}</span>
          <span class="task-tooltip">Data collected.</span>
        </span>
        <span class="task task-own" data-disabled data-tasks='selfassesment_not_added_in_selfassesment_account_submission'>
          <a target="_blank" href="/companies/SA/home/?tasks=selfassesment_not_added_in_selfassesment_account_submission">{{ selfassesment_not_added_in_selfassesment_account_submission }}</a>
          <span class="task-tooltip">Selfssesments not added in Selfassesment Account Submission for current tax year</span>
        </span>
      </div>
    {% elif limited_counts %}
      <div class="task-container">
        <span class="task task-previous" data-tasks='limited_UTR_NOT_SET'>
          <span id="task-count">{{ limited_UTR_NOT_SET }}</span>
          <span class="task-tooltip">UTR not set.</span>
        </span>
        <span class="task task-done" data-tasks='limited_Client_IS_ACTIVE'>
          <span id="task-count">{{ limited_Client_IS_ACTIVE }}</span>
          <span class="task-tooltip">Client active.</span>
        </span>
        <span class="task task-previous" data-tasks='limited_Client_IS_INACTIVE'>
          <span id="task-count">{{ limited_Client_IS_INACTIVE }}</span>
          <span class="task-tooltip">Client inactive.</span>
        </span>
        <span class="task task-today" data-tasks='limited_AGENT_NOT_ACTIVE'>
          <span id="task-count">{{ limited_AGENT_NOT_ACTIVE }}</span>
          <span class="task-tooltip">Agent Inactive.</span>
        </span>
        <span class="task task-own" data-tasks='limited_COMPANY_AUTH_CODE_NOT_SET'>
          <span id="task-count">{{ limited_COMPANY_AUTH_CODE_NOT_SET }}</span>
          <span class="task-tooltip">Authentication Code not set.</span>
        </span>
      </div>
    {% elif limited_submission_counts %}
      <div class="task-container">
        <span class="task task-issue" data-tasks='submission_deadline_not_set'>
          <span id="task-count">{{ submission_deadline_not_set }}</span>
          <span class="task-tooltip">Limited Submission Company House Deadline not set.</span>
        </span>
        <span class="task task-previous" data-tasks='submission_company_house_deadline_missed_of_active_clients'>
          <span id="task-count">{{ submission_company_house_deadline_missed_of_active_clients }}</span>
          <span class="task-tooltip">Company house deadline overdue of active clients.</span>
        </span>
        <span class="task task-today" data-tasks='submission_company_house_deadline_missed_of_inactive_clients'>
          <span id="task-count">{{ submission_company_house_deadline_missed_of_inactive_clients }}</span>
          <span class="task-tooltip">Company house deadline overdue of inactive clients.</span>
        </span>
        <span class="task task-previous" data-tasks='submission_HMRC_deadline_missed'>
          <span id="task-count">{{ submission_HMRC_deadline_missed }}</span>
          <span class="task-tooltip">HMRC deadline overdue.</span>
        </span>
        <span class="task task-today" data-tasks='submission_period_ended'>
          <span id="task-count">{{ submission_period_ended }}</span>
          <span class="task-tooltip">Period End.</span>
        </span>
        <span class="task task-previous" data-tasks='limited_submissions_status_DOCUMENT_REQUESTED'>
          <span id="task-count">{{ limited_submissions_status_DOCUMENT_REQUESTED }}</span>
          <span class="task-tooltip">Status - DOCUMENT REQUESTED</span>
        </span>
        <span class="task task-today" data-tasks='limited_submissions_status_WAITING_FOR_INFORMATION'>
          <span id="task-count">{{ limited_submissions_status_WAITING_FOR_INFORMATION }}</span>
          <span class="task-tooltip">Status - WAITING FOR INFORMATION</span>
        </span>
        <span class="task task-own" data-tasks='limited_submissions_status_DOCUMENT_RECEIVED'>
          <span id="task-count">{{ limited_submissions_status_DOCUMENT_RECEIVED }}</span>
          <span class="task-tooltip">Status - DOCUMENT RECEIVED</span>
        </span>
        <span class="task task-issue" data-tasks='limited_submissions_status_PROCESSING'>
          <span id="task-count">{{ limited_submissions_status_PROCESSING }}</span>
          <span class="task-tooltip">Status - PROCESSING</span>
        </span>
        <span class="task task-upcoming" data-tasks='limited_submissions_status_WAITING_FOR_CONFIRMATION'>
          <span id="task-count">{{ limited_submissions_status_WAITING_FOR_CONFIRMATION }}</span>
          <span class="task-tooltip">Status - WAITING FOR CONFIRMATION</span>
        </span>
        <span class="task task-done" data-tasks='limited_submissions_status_COMPLETED'>
          <span id="task-count">{{ limited_submissions_status_COMPLETED }}</span>
          <span class="task-tooltip">Status - COMPLETED</span>
        </span>
      </div>
    {% elif limited_vat_counts %}
      <div class="task-container">
        <span class="task task-issue" data-tasks='submission_deadline_not_set'>
          <span id="task-count">{{ submission_deadline_not_set }}</span>
          <span class="task-tooltip">Limited Submission HMRC Deadline not set.</span>
        </span>
        <span class="task task-previous" data-tasks='submission_vat_deadline_missed'>
          <span id="task-count">{{ submission_vat_deadline_missed }}</span>
          <span class="task-tooltip">Missed Deadlines.</span>
        </span>
        <span class="task task-previous" data-tasks='period_diff_gt_3months'>
          <span id="task-count">{{ period_diff_gt_3months }}</span>
          <span class="task-tooltip">Warnings(Period difference more than 3 months).</span>
        </span>
      </div>
    {% elif limited_statement_counts %}
      <div class="task-container">
        <span class="task task-issue" data-tasks='statement_deadline_not_set'>
          <span id="task-count">{{ statement_deadline_not_set }}</span>
          <span class="task-tooltip">Limited Submission HMRC Deadline not set.</span>
        </span>
        <span class="task task-previous" data-tasks='statement_deadline_missed'>
          <span id="task-count">{{ statement_deadline_missed }}</span>
          <span class="task-tooltip">Missed Deadlines.</span>
        </span>
      </div>
    {% elif selfassesment_data_collection_counts %}
      <div class="task-container">
        <span class="task task-done" data-tasks='selfassesment_data_collection_row_count'>
          <span id="task-count">{{ selfassesment_data_collection_row_count }}</span>
          <span class="task-tooltip">Number of rows</span>
        </span>
      </div>
    {% endif %}

    <script src='{% static "/js/tracker_search.js" %}' type='module'></script>
  {% endif %}
  
  <div class="action-container">
    <!-- create -->
    <span class="action action-create">
      <a href="{% url create_url %}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="12" y1="8" x2="12" y2="16"></line>
          <line x1="8" y1="12" x2="16" y2="12"></line>
        </svg>
      </a>
      <span class="action-tooltip">Create</span>
    </span>
    <!-- refresh -->
    <span class="action action-reload">
      <svg id="i-reload" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M29 16 C29 22 24 29 16 29 8 29 3 22 3 16 3 10 8 3 16 3 21 3 25 6 27 9 M20 10 L27 9 28 2" />
      </svg>
      <span class="action-tooltip">View all</span>
    </span>
    <!-- export -->
    <span class="action action-export">
      <a href="{% url export_url %}">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" fill="white" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 92 92" enable-background="new 0 0 92 92" xml:space="preserve">
          <path id="XMLID_1022_" d="M73,76.5v5c0,2.2-1.9,3.5-4.1,3.5H3.6C1.4,85,0,83.8,0,81.5V32.1c0-2.2,1.4-4.2,3.6-4.2h11.7
            c2.2,0,4,1.8,4,4s-1.8,4-4,4H8V77h57v-0.5c0-2.2,1.8-4,4-4S73,74.3,73,76.5z M90.8,39.2L66,64.5c-1.2,1.2-2.9,1.5-4.4,0.9
            C60,64.7,59,63.3,59,61.6V50.7c-8-0.2-27.2,0.6-34.2,12.9c-0.7,1.3-2.1,2.1-3.5,2.1c-0.3,0-0.7,0-1-0.1c-1.8-0.5-3-2.1-3-3.9
            c0-0.6,0-16.1,11.6-27.6C36.2,26.6,46,22.6,59,21.9V11c0-1.6,1-3.1,2.5-3.7C63.1,6.7,64.8,7,66,8.2l24.9,25.3
            C92.4,35.1,92.4,37.6,90.8,39.2z M82.2,36.3L67,20.9v4.9c0,2.2-1.7,4-4,4c-12.4,0-21.9,3.3-28.4,9.9c-3,3-5,6.3-6.3,9.5
            c9.4-5.6,21.3-6.6,28.6-6.6c3.8,0,6.3,0.3,6.6,0.3c2,0.2,3.5,2,3.5,4v4.9L82.2,36.3z"/>
        </svg>
      </a>
      <span class="action-tooltip">Export</span>
    </span>
  </div>
  <!-- data -->
  {% autoescape off %}
    {{ data_container }}
  {% endautoescape %}
  <span class="absolute top-0 right-0 px-2 py-1 text-xs font-normal text-white bg-indigo-600 sm:text-sm sm:font-normal md:text-base md:font-medium hidden" id="loading-indicator">
    Loading Data
  </span>
</div>

<!-- data template -->
{% autoescape off %}
  {{ template_tag }}
{% endautoescape %}

<!-- data -->
{% autoescape off %}
<pre type="application/json" style="display: none;">
  {{ frontend_data|convert_to_JSON }}
</pre>
{% endautoescape %}

<script src='{% static "js/table_sort.js" %}'></script>
{% endblock content %}
