{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ page_title }}
{% endblock title %}

{% block head %}
  
{% endblock head %}

{% block content %}

<!-- messages -->
{% if messages %}
{% for message in messages %}
<h1 class='message {{ message.tags }}'>
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
  {{ message }}
</h1>
{% endfor %}
{% endif %}

<!-- searchbar -->
{% include "companies/searchbar.html" %}




{% if add_all_url %}
  <!-- add all selfassesments -->
  {% if request.user.is_superuser %}
  <div class="mt-5 grid place-items-center">
    <a href="{% url add_all_url %}" class="create px-4 py-2 text-md font-semibold rounded-md">
      {{ add_all_text }}</a>
  </div>
  {% endif %}
{% endif %}

<!-- represent data -->
<div class="relative max-w-min mx-auto">
  {% if todays_taks %}
  <div class="task-container">
    <span class="task task-previous">
      {{ previous_tasks }}
      <span class="task-tooltip">Previous remaining tasks.</span>
    </span>
    <span class="task task-today">
      {{todays_taks}}
      <span class="task-tooltip">Todays remaining tasks.</span>
    </span>
    <span class="task task-done">
      {{completed_tasks}}
      <span class="task-tooltip">Finished tasks.</span>
    </span>
  </div>  
  {% endif %}
  
  <!-- data -->
  {% autoescape off %}
    {{ data_container }}
  {% endautoescape %}
</div>

<!-- data template -->
{% autoescape off %}
  {{ template_tag }}
{% endautoescape %}

<!-- data -->
<input hidden aria-hidden="true" type="url" name="all_url" value="{{ viewall_url }}">
<input hidden aria-hidden="true" type="url" name="search_url_without_argument" value="{{ search_url }}">
<input hidden aria-hidden="true" type="url" name="update_url_without_argument" value="{{ update_url }}">
<input hidden aria-hidden="true" type="url" name="delete_url_without_argument" value="{{ delete_url }}">
<pre hidden aria-hidden="true" name="model_fields">{{ model_fields }}</pre>

{% endblock content %}
