{% extends "base.html" %}
{% load companies_tags %}
{% load static %}

{% block title %}
  {{ page_title }}
{% endblock title %}


{% block content %}

<div class="max-w-6xl mx-auto mt-5">
  <div class="text-right">
    <a href="{% url view_url %}">View</a>
  </div>

  <!-- messages -->
  {% if messages %}
    {% for message in messages %}
      <h1 class='message {{ message.tags }}'>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
      </h1>
    {% endfor %}
  {% endif %}

  {% load companies_tags %}

  <!-- form -->
  <form action="{% url create_url %}" method="POST" class="my-10">
    {% csrf_token %}
    <h1 class="py-3 text-lg font-bold text-center rounded shadow-lg create select-none">{{ form_title }}</h1>
    
    <ol style="margin-top: 10px; margin-bottom: 10px; list-style: inside;">
      {% for error in form|get_attr:'errors.__all__' %}
        <li style="color: red; display: list-item;">{{ error }}</li>
      {% endfor %}
    </ol>
    

    {% if form|get_attr:'Meta.fieldsets' %}
      {% comment %} fieldsets exists so organize them {% endcomment %}
      {% for fieldset in form.Meta.fieldsets %}
        <fieldset class="fieldset">
          <h1 class="fieldset title">{{ fieldset.title }}</h1>

          {% for field_name in fieldset.fields %}
            {% with field=form|get_field:field_name  %}
            <div class="flex flex-col align-middle items-start w-full">
              <!-- input container -->
              <div class="w-full mt-3.5">
                <!-- input label -->
                <label for="{{ 'id_'|addstr:field.name }}">{{ field.label }}
                  {% if field.field.required %}
                  <!-- required indicator -->
                  {% include "companies/required_indicator.html" %}
                  {% endif %}
                </label>
                <!-- input field -->
                {{ field }}
                <div class="text-red-500">
                    {{ field.errors }}
                </div>
              </div>
            </div>
            {% endwith %}
          {% endfor %}
        </fieldset>
      {% endfor %}
    {% else %}
      {% comment %} fieldsets doesn't exist so show all the fields {% endcomment %}

      {% for field in form %}
      <div class="flex flex-col align-middle items-start w-full">
        <!-- input container -->
        <div class="w-full mt-3.5">
          <!-- input label -->
          <label for="{{ 'id_'|addstr:field.name }}">{{ field.label }}
            {% if field.field.required %}
            <!-- required indicator -->
            {% include "companies/required_indicator.html" %}
            {% endif %}
          </label>
          <!-- input field -->
          {{ field }}
          <div class="text-red-500">
              {{ field.errors }}
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
    <input type="text" hidden value="{{ redirect_to }}" name="redirect_to">
    <button type="submit" class="create">Create</button>
  </form>

  <!-- data -->
  {% autoescape off %}
  <pre type="application/json" style="display: none;">
    {{ frontend_data|convert_to_JSON }}
  </pre>
  {% endautoescape %}
  <script src='{% static "js/merged_tracker_create.js" %}' type="module"></script>
</div>
{% endblock content %}
