div.search_field > select{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

div.search_field > select:active,
div.search_field > select:focus,
div.search_field > input:focus ~ select{
  display: block;
}

.select{
  background-color: white;
  position: absolute;
  z-index: 50;
  display: none;
}
div.search_field > input:focus ~ .select,
.select:hover{
  display: block;
}
.select option{
  background-color: black;
  color: white;
  cursor: pointer;
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: .5rem;
  padding-right: .5rem;
}