{% extends "base.html" %}
{% load static %}

{% block title %}
  Home Selfassesment
{% endblock title %}

{% block head %}
  
{% endblock head %}

{% block content %}

<!-- messages -->
{% if messages %}
{% for message in messages %}
<h1 class='message {{ message.tags }}'>
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
  {{ message }}
</h1>
{% endfor %}
{% endif %}

<!-- searchbar -->
{% include "companies/searchbar.html" %}

<!-- data -->
<div class="overflow-scroll">
<table class="table text-sm sticky w-full max-h-screen text-md bg-white shadow-md rounded mb-4">
  <thead>
      <tr class="bg-green-600">
          <th class="text-left p-3 px-5 bg-gray-900 text-white text-center">#</th>
          <th class="text-left p-3 px-5 bg-gray-900 text-white">File No</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Name</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Phone</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white min-w-full">Reg Date</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">UTR</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">HMRC</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">NINO</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Gateway ID</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Gateway Pass</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Address</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Post Code</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">E-mail</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Bank Name</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Bank AC</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Bank Sort Code</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Bank AC Holder</th> 
          <th class="text-left p-3 px-5 bg-gray-900 text-white">Active</th> 
      </tr>
  </thead>
  <tbody id="data">
      
  </tbody>
</table>
</div>
<!-- data template -->
<template id="data-template">
  <tr class="bg-gray-300 text-white bg-gray-700">
      <td class="p-3 px-5" ><a class="" href="" id='client_id'>Edit</a></td>
      <td class="p-3 px-5" id='client_file_number'></td>
      <td class="p-3 px-5" id='client_name'></td>
      <td class="p-3 px-5" id='client_phone_number'></td>
      <td class="p-3 px-5" id='date_of_registration'></td>
      <td class="p-3 px-5" id='UTR'></td>
      <td class="p-3 px-5" id='HMRC_referance'></td>
      <td class="p-3 px-5" id='NINO'></td>
      <td class="p-3 px-5" id='gateway_id'></td>
      <td class="p-3 px-5" id='gateway_password'></td>
      <td class="p-3 px-5" id='address'></td>
      <td class="p-3 px-5" id='post_code'></td>
      <td class="p-3 px-5" id='email'></td>
      <td class="p-3 px-5" id='bank_name'></td>
      <td class="p-3 px-5" id='bank_account_number'></td>
      <td class="p-3 px-5" id='bank_sort_code'></td>
      <td class="p-3 px-5" id='bank_account_holder_name'></td>
      <td class="p-3 px-5" id='is_active'></td>
  </tr>
</template>

<!-- data -->
<input hidden aria-hidden="true" type="url" name="all_url" value="{{ selfassesment_viewall_url }}">
<input hidden aria-hidden="true" type="url" name="search_url_without_argument" value="{{ selfassesment_search_url_without_argument }}">
<input hidden aria-hidden="true" type="url" name="update_url_without_argument" value="{{ selfassesment_update_url_without_argument }}">
<input hidden aria-hidden="true" type="url" name="delete_url_without_argument" value="{{ selfassesment_delete_url_without_argument }}">
<!-- script -->
<script type="module" src='{% static "js/companies/selfassesment/script.js" %}'></script>

{% endblock content %}

<!-- message clases = 'message error success' -->
