{% extends "base.html" %}
{% load companies_tags %}

{% block titile %}
  Update Selfassesment
{% endblock titile %}


{% block content %}
  {% if messages %}
    {% for message in messages %}
    <h1 class='message {{ message.tags  }}'>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </h1>
    {% endfor %}
  {% endif %}
  
  <form action="{% url selfassesment_update client_id %}" method="POST" class="my-10">
  {% csrf_token %}
  <h1 class="header update-header">Selfassesment Account Update Form</h1>
  
  {% for field in form %}
    <div class="flex flex-col align-middle items-start w-full">
        <div class="w-full mt-3.5">
            <label for="{{ 'id_'|addstr:field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
            {{ field }}
            <div class="text-red-500">
                {{ field.errors }}
            </div>
        </div>
    </div>
  {% endfor %}
  <button type="submit" class="update">Update</button>
</form>
{% endblock content %}