@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  select { @apply form-select; }
  select[multiple] { @apply form-multiselect; }
  input	{ @apply form-input; }
  input[type='checkbox']	{ @apply form-checkbox bg-red-500 checked:bg-green-500; }
  input[type='checkbox']:hover { @apply bg-red-300 checked:bg-green-300; }
  input[type='checkbox']:focus { @apply bg-red-800 checked:bg-green-800; }
  input[type='radio']	{ @apply form-radio; }
  textarea { @apply form-textarea resize-x w-full h-28; }

  label{ @apply mb-1 mr-2 inline-block text-gray-800; }
  input{ @apply px-4 py-2 h-10 w-full; }
  input, textarea, select{ @apply  text-black bg-gray-100 fill-current placeholder-gray-500 rounded-md shadow-md appearance-none border-none bg-none outline-none z-10; }
  input:hover, textarea:hover, select:hover{ @apply bg-gray-200; }
  input:focus, textarea:focus, select:focus{ @apply bg-blue-100 ring-2; }

  @media (prefers-color-scheme: dark){
    label{ @apply text-gray-50; }
    
    input, textarea, select{ @apply text-gray-100 bg-gray-700 placeholder-gray-50; }
    input:hover, textarea:hover, select:hover{ @apply bg-gray-600; }
    input:focus, textarea:focus, select:focus{ @apply text-gray-100 bg-gray-800 ring-2; }
  }
  input[type='checkbox']{
    @apply h-full;
  }
  input[type='number'], input[type='time'], input[type='date'], input[type='datetimelocal'], input[type='datetime']{
    @apply w-max inline;
  }
}

@layer components{
  /* customized button */
  button[type]{
    @apply mt-6 px-4 py-2 w-full font-bold rounded-md outline-none bg-none border-none appearance-none;
  }

  .create{
    @apply bg-green-700 text-gray-50;
  }
  .create:hover{
    @apply bg-green-600 text-gray-50;
  }
  .create:active{
    @apply bg-green-900 text-gray-50;
  }

  .delete{
    @apply bg-red-700 text-gray-50;
  }
  .delete:hover{
    @apply bg-red-600 text-gray-50;
  }
  .delete:active{
    @apply bg-red-900 text-gray-50;
  }

  .update{
    @apply bg-blue-800 text-gray-50;
  }
  .update:hover{
    @apply bg-blue-600 text-gray-50;
  }
  .update:active{
    @apply bg-blue-900 text-gray-50;
  }

  @media (prefers-color-scheme: dark){
    .create{
      @apply bg-green-800 text-gray-50;
    }
    
    .delete{
      @apply bg-red-700 text-gray-50;
    }
    
    .update{
      @apply bg-blue-800 text-gray-50;
    } 
  }

  /* message styles */
  .message {
    @apply w-full px-4 py-2 text-gray-50 max-w-screen-2xl md:px-6 lg:px-8 mx-auto mt-5 rounded-md;
  }

  /* form headers */
  .header{
    @apply py-3 text-lg font-bold text-center rounded shadow-lg select-none;
  }
  .create-header{
    @apply create text-white;
  }
  .update-header{
    @apply update text-white;
  }
  .delete-header{
    @apply delete text-white;
  }
}

.success{
  @apply bg-green-700 text-gray-50;
}

.error{
  @apply bg-red-700 text-gray-50;
}


/* icons */
.edit-icon{
  @apply inline-block bg-transparent fill-current w-7 h-7 text-blue-800 hover:text-blue-600 active:text-blue-900;
}
.delete-icon{
  @apply inline-block bg-transparent fill-current w-7 h-7 text-red-700 hover:text-red-500 active:text-red-800;
}


/* table */
.container{
  @apply mx-auto;
}
.data-wrapper{
  @apply overflow-auto mt-5 max-h-screen relative;
}
.data-container{
  @apply max-h-screen rounded-md mx-auto;
}

.stick-top{
  @apply sticky top-0 bg-gray-400 text-gray-900 dark:text-gray-300 dark:bg-gray-600 py-3;
  -webkit-box-shadow: 0px 1px 0px 0px #ffff;
  box-shadow: 0px 1px 0px 0px #ffff;
}
/* round table corners */
.stick-top:first-child, .data-wrapper{ @apply rounded-tl-lg; }
.stick-top:last-child, .data-wrapper{ @apply rounded-tr-lg; }
#data .data-row:last-child .data-cell:last-child{ @apply rounded-br-lg; }
#data .data-row:last-child .data-cell:first-child{ @apply rounded-bl-lg; }

.data-head .data-head-row{
  @apply font-normal whitespace-nowrap;
}

.data-row{
  @apply h-full bg-gray-300 dark:bg-gray-800;
}
.data-row:hover{
  @apply bg-gray-400 text-gray-900 dark:bg-gray-700 dark:text-white;
}

.data-id{
  @apply text-center px-3 py-2 whitespace-nowrap;
}
.data-cell{
  @apply h-full px-5 py-2;
}
/* #data .data-row:hover{
  @apply ;
} */

/* searchable input field */
div.search_field > select{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

div.search_field > select:active,
div.search_field > select:focus,
div.search_field > select:focus-visible,
div.search_field > input:focus ~ select,
div.search_field > input:focus-visible ~ select{
  display: block;
}


/* Light mode */
@media (prefers-color-scheme: light) {
  ::-webkit-calendar-picker-indicator {
    /* convert hex color to filter https://codepen.io/sosuke/pen/Pjoqqp */
    /* filter: invert(51%) sepia(97%) saturate(1688%) hue-rotate(324deg) brightness(101%) contrast(88%); */
    filter: invert(0);
    z-index: -1;
  }
  ::-webkit-search-cancel-button{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-calendar-picker-indicator {
    /* convert hex color to filter https://codepen.io/sosuke/pen/Pjoqqp */
    /* filter: invert(51%) sepia(97%) saturate(1688%) hue-rotate(324deg) brightness(101%) contrast(88%); */
    filter: invert(1);
    z-index: 0;
  }
  ::-webkit-search-cancel-button{
    filter: invert(100%) sepia(0%) saturate(7415%) hue-rotate(30deg) brightness(102%) contrast(105%);
  }
}
