{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
/>
{% endblock head %}


{% block content %}

<div class="tab-container">
  <ul class="tab-nav">
    <li class="tab-nav-item" data-tab-name="details">Details</li>
    <li class="tab-nav-item active" data-tab-name="incomesAndExpnses">Income and expenses</li>
    <li class="tab-nav-item" data-tab-name="taxCalculation">TAX calculation</li>
    <li class="tab-nav-item" data-tab-name="view">View</li>
  </ul>

  <div class="tabs">
    <!-- Details Tab -->
    <div class="tab" data-tab-name="details">
      <div class="detail"><strong>Tax-Year: </strong><span id="tax-year"></span></div>
      <div class="detail"><strong>Name: </strong><span id="client-name"></span></div>
      <div class="detail"><strong>Personal Address: </strong><pre id="client-personal-address"></pre></div>
      <div class="detail"><strong>Business Address: </strong><pre id="client-business-address"></pre></div>
      <div class="detail"><strong>Date of birth: </strong><span id="client-dob"></span></div>
      <div class="detail"><strong>UTR: </strong><span id="client-utr"></span></div>
      <div class="detail"><strong>Account Status: </strong><span id="client-account-status"></span></div>
    </div>

    <!-- Income and Expense Tab -->
    <div class="tab active" data-tab-name="incomesAndExpnses">
      <div>
        <h1 class="title">Incomes</h1>
        <div class="select" id="add_income">
          <input class="select-input" id="add_income_input" type="text" placeholder="Search and select to add income source">
          <div class="select-options" id="add_income_options">
          </div>
        </div>

        <div class="incomes">
        </div>
      </div>

      <div style="display:">
        <h1 class="mt-5 text-2xl">Expenses</h1>
        <div class="select" id="add_expense">
          <input class="select-input" id="add_expense_input" type="text" placeholder="Search and select to add expense source">
          <div class="select-options" id="add_expense_options">
          </div>
        </div>

        <div class="expenses">
          <div class="expense">
            <h2>Food delivery</h2>
            <div class="month">
              <span class="month">April</span>
              <input type="number" data-month-id="4" data-submission-id="45" data-expense-id="3">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tax Calculation Tab -->
    <div class="tab" data-tab-name="taxCalculation">TAX calculation</div>

    <!-- view Tab -->
    <div class="tab" data-tab-name="view">View</div>
  </div>
</div>

<script type="module" src="{% static 'accounts/script.js' %}"></script>
{% endblock %}
