{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
/>
{% endblock head %}


{% block content %}

<div class="tab-container">
  <ul class="tab-nav">
    <li class="tab-nav-item" data-tab-name="details">Details</li>
    <li class="tab-nav-item active" data-tab-name="incomesAndExpnses">Income and expenses</li>
    <li class="tab-nav-item" data-tab-name="taxCalculation">TAX calculation</li>
    <li class="tab-nav-item" data-tab-name="view">View</li>
  </ul>

  <div class="tabs">
    <!-- Details Tab -->
    <div class="tab" data-tab-name="details">
      <div class="detail"><strong>Tax-Year: </strong><span id="tax-year"></span></div>
      <div class="detail"><strong>Name: </strong><span id="client-name"></span></div>
      <div class="detail"><strong>Personal Address: </strong><pre id="client-personal-address"></pre></div>
      <div class="detail"><strong>Business Address: </strong><pre id="client-business-address"></pre></div>
      <div class="detail"><strong>Date of birth: </strong><span id="client-dob"></span></div>
      <div class="detail"><strong>UTR: </strong><span id="client-utr"></span></div>
      <div class="detail"><strong>Account Status: </strong><a id="client-account-status" href=""></a></div>
    </div>

    <!-- Income and Expense Tab -->
    <div class="tab active" data-tab-name="incomesAndExpnses">
      <div>
        <h1 class="title">Account for <span id="ie-client-name"></span> Tax-year <span id="ie-client-tax-year"></span>.</h1>
        <div class="overview">
          <h2 class"overview-title">Overview</h2>
          <div>Total Income: <span data-total-income-container></span></div>
          <div>Total Expense: <span data-total-expense-container></span></div>
          <div>Net Profit: <span data-net-profit-container></span></div>
        </div>
      </div>
      <div>
        <h1 class="title">Incomes Total: <span data-total-income-container></span></h1>
        <div class="select" id="add_income">
          <input class="select-input" id="add_income_input" type="text" placeholder="Search and select to add income source">
          <div class="select-options" id="add_income_options">
          </div>
        </div>

        <div class="incomes">
        </div>
      </div>

      <div>
        <h1 class="title">Expenses Total: <span data-total-expense-container></span></h1>
        <div class="select" id="add_expense">
          <input class="select-input" id="add_expense_input" type="text" placeholder="Search and select to add expense source">
          <div class="select-options" id="add_expense_options">
          </div>
        </div>

        <div class="expenses">
        </div>
      </div>
    </div>

    <!-- Tax Calculation Tab -->
    <div class="tab" data-tab-name="taxCalculation">TAX calculation</div>

    <!-- view Tab -->
    <div class="tab" data-tab-name="view">View</div>
  </div>
</div>

<script type="module" src="{% static 'accounts/script.js' %}"></script>
{% endblock %}
