{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    <script async defer src="{% static 'accounts/script.js' %}"></script>
{% endblock head %}


{% block content %}

<div class="client-info">
    <div class="client-id search-box">
      <label for="client">Client</label>
      <input class="search-input" id="client" type="text">
      <div class="search-options">
        <div class="search-option selected" data-pk="1">1 - Ali</div>
        <div class="search-option" data-pk="2">2 - Kawsur</div>
      </div>
    </div>
    <div class="tax-year search-box">
      <label for="tax-year">Tax-year</label>
      <input class="search-input" id="tax-year" type="text">
      <div class="search-options">
        <div class="search-option selected" data-pk="1">1 - 2021</div>
        <div class="search-option" data-pk="2">2 - 2022</div>
      </div>
    </div>
</div>

<div class="tab-container">
  <ul class="tab-nav">
    <li class="tab-nav-item active" data-tab-name="details">Details</li>
    <li class="tab-nav-item" data-tab-name="incomeAndExpnses">Income and expenses</li>
    <li class="tab-nav-item" data-tab-name="taxCalculation">TAX calculation</li>
    <li class="tab-nav-item" data-tab-name="view">View</li>
  </ul>

  <div class="tabs">
    <div class="tab active" data-tab-name="details">Details</div>
    <div class="tab" data-tab-name="incomeAndExpnses">Income and expenses</div>
    <div class="tab" data-tab-name="taxCalculation">TAX calculation</div>
    <div class="tab" data-tab-name="view">View</div>
  </div>
</div>

{% endblock %}
