@page{
    size: a4;
    margin: 0.75in;
}
@page page_std {
    size: a4;
    margin: 0.75in;
}
@page page {
    /* A4 measures 210 × 297 millimeters or 8.27 × 11.69 inches. In PostScript, its dimensions are rounded off to 595 × 842 points. */
    size: a4;

    /* this is xhtml2pdf specific selector */
    @frame content_frame {
        left: 40pt;
        right: 40pt;
        top: 50pt;
        bottom: 50pt;
    }
}



body{
    font-size: 11pt;
}

.text-center {
    text-align:center;
}
.inline-block{
    display: inline-block;
}
.underline{
    text-decoration: underline;
}
.fs-13{
    font-size: 13pt;
}