{% load static %}
{% load accounts_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tax Account</title>

    {% comment %} 
    <!-- the below css will be added from python using weasyprint library -->
    <link rel="stylesheet" href="accounts/templates/accounts/tax_report_style.css"/>
    {% endcomment %}
</head>
<body>
    {% comment %} Agreement Page {% endcomment %}
    <article id="agreement" page-break-before page-break-after>
        <section>
            <h1 class="text-center underline to-upper">Accountant's Report</h1>
            <p>
                We have prepared without carrying out an audit the attached
                Profit and Loss accounts for the year ended <strong>05 April {{tax_year_next}}</strong>.
                These have been prepared from the information, accounting
                records and explanation received from <strong>{{client_name}}</strong>.
            </p>
        </section>

        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>

        <section>
            <div class="d-f items-center justify-between">
                <h2 class="d-ib">RIVIA SOLUTION LTD</h2>
                <span>Date: …………………………….</span>
            </div>
            <strong class="underline"><i>Accountants</i></strong>
            <address>
                Unit-111, 2<sup>nd</sup> Floor<br>
                Greatorex Business Centre<br>
                8-10 Greatorex Street<br>
                London E1 5NF<br>
            </address>
        </section>

        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>

        <section>
            <h1 class="text-center to-upper underline">Client's Approval</h1>
            <p>
                I have approved the attached Profit & Loss Accounts for the
                period from <strong>06 April {{tax_year_prev}} to 05 April {{tax_year_next}}</strong>. These have been
                prepared from the information, records and explanation given by me.
            </p>
            <div class="spacer"></div>

            <hr style="width: 2in;">
            <div class="d-f items-center justify-between">
                <h2 class="fs-11">{{client_name}}</h2>
                <span class="fs-11">Date: …………………………….</span>
            </div>
        </section>
    </article>

    {% comment %} Profit and Loss Page {% endcomment %}
    <article id="profit-and-loss" page-break-before page-break-after>
        <section>
            <aside data-client-details class="fs-12">
                <strong class="to-upper">{{client_name}}</strong>
                <address class="text-center to-upper">
                    <pre class="pre-to-normal mw-45ch">{{client_address}}</pre>
                    {% if client_post_code %}
                        <br/>
                        <span>{{client_post_code}}</span>
                    {% endif %}
                </address>
            </aside>
            <h1 class="to-upper text-center fs-11">Profit and loss for the year ended 5 April {{tax_year_next}}</h1>
            
            <br>
            <h2 class="fs-11 font-normal d-f justify-between">Selfemployment Income (Including Tips) <span>£{{selfemployment_total_income|floatformat:"2g"}}</span></h2>
            <br>

            <section >
                
                <table data-expense-list class="fs-11">
                    <thead>
                        <tr>
                            <th class="bb-1">Less: Expenses</th>
                            <th class="bb-1 text-right">Including personal usage(£)</th>
                            <th class="bb-1 text-right">Personal usage({{personal_usage_heading_value}}%)</th>
                            <th class="bb-1 text-right">Excluding personal usage(£)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in selfemployment_expenses %}
                            <tr>
                                <td>{{expense.expense_source.name}}</td>
                                <td class="text-right">{{expense.amount|floatformat:"2g"}}</td>
                                {% with expense.amount|as_percentage_of:expense.personal_usage_percentage as personal_usage %}
                                    <td class="text-right">{{personal_usage|floatformat:"2g"}}</td>
                                    <td class="text-right">{{expense.amount|subtract:personal_usage|floatformat:"2g"}}</td>
                                {% endwith %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-right font-bolder" colspan="3">Total Allowanble Expenses</th>
                            <th class="text-right font-bolder">{{selfemployment_total_expense|floatformat:"2g"}}</th>
                        </tr>
                    </tfoot>
                </table>

                <br>


                {% if car_value %}
                    <table data-car-value class="fs-11">
                        <thead>
                            <tr>
                                <th class="bb-1" colspan="7">LESS : DEDUCTIONS AND ALLOWANCES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="1"></td>
                                <td colspan="3">Pool Written Down Value b/fwd</td>
                                <td class="text-right" colspan="1">{{car_value.amount|floatformat:"2g"}}</td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="1"></td>
                                <td colspan="3">Additions</td>
                                <td class="text-right" colspan="1">{{car_value.addition|floatformat:"2g"}}</td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="1"></td>
                                <td colspan="3">Disposals</td>
                                <td class="text-right" colspan="1">{{car_value.disposal|floatformat:"2g"}}</td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="bt-1" colspan="2">Total</td>
                                <td class="text-right bt-1" colspan="1">{{car_value.total|floatformat:"2g"}}</td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">WDA @{{car_value.written_down_allowance_percentage}}%</td>
                                <td class="text-right" colspan="1">{{car_value.written_down_allowance|floatformat:"2g"}}</td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">WDV c/fwd</td>
                                <td class="text-right bt-1" colspan="1">{{car_value.written_down_value|floatformat:"2g"}}</td>
                                <td colspan="2"></td>
                            </tr>
                            
                            <tr>
                                <!-- empty row -->
                                <td class="h-10" colspan="7"></td>
                            </tr>
                            
                            <tr>
                                <td colspan="1"></td>
                                <td colspan="5">Capital Allowance available</td>
                                <td class="text-right" colspan="1">{{car_value.written_down_allowance|floatformat:"2g"}}</td>
                            </tr>
                            <tr>
                                <td colspan="1"></td>
                                <td colspan="5">(Less):Personal Usages - {{car_value.personal_usage_percentage}}%</td>
                                <td class="text-right" colspan="1">{{car_value.personal_usage|floatformat:"2g"}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="font-bolder bt-1" colspan="4">Capital Allownace Deduction</td>
                                <td class="font-bolder bt-1 text-right"colspan="1">{{car_value.capital_allowance_deduction|floatformat:"2g"}}</td>
                            </tr>                    
                        </tbody>
                    </table>
                {% endif %}
                <h2 class="fs-11 font-bold d-f justify-between">Total Expenses <span>£{{selfemployment_total_expense_with_car_value|floatformat:"2g"}}</span></h2>
                {% if loss_brought_forward_from_previous_year > 0 %}
                <h2 class="fs-11 font-bold d-f justify-between">Profit for the year <span>£{{profit_for_the_year|floatformat:"2g"}}</span></h2>
                    <h2 class="fs-11 font-bold d-f justify-between">Loss B/f for {{tax_year_prev_prev}}-{{tax_year_prev}} <span>£-{{loss_brought_forward_from_previous_year|floatformat:"2g"}}</span></h2>
                {% endif %}
                <h2 class="fs-11 font-bold d-f justify-between doubble-underline">Net {% if selfemployment_is_loss %}Loss{% else %}Profit{% endif %} for the year <span>£{{selfemployment_net_profit|floatformat:"2g"}}</span></h2>
            </section>
        </section>
    </article>


    {% comment %} Tax Calculation Page {% endcomment %}
    <article id="tax-calculation" page-break-before page-break-after>
        <aside data-client-details class="fs-12">
            <strong class="to-upper">{{client_name}}</strong>
            <address class="text-center to-upper">
                <pre class="pre-to-normal mw-45ch">{{client_address}}</pre>
                {% if client_post_code %}
                    <br/>
                    <span>{{client_post_code}}</span>
                {% endif %}
            </address>
        </aside>

        <h1 class="text-center to-upper fs-13">For the year ended 5 April {{tax_year_next}}</h1>

        {% if tax_calc.errors %}
            {% for error in tax_calc.errors %}
                <pre style='color:red;'>{{error}}</pre>
            {% endfor %}
        {% else %}
            <section class="fs-11">
                <table class="w-full fs-inherit">
                    <thead>
                        <tr class="font-bolder">
                            <th>Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for taxable_income in taxable_incomes %}
                            <tr>
                                <td colspan='1'></td>
                                <td colspan='2'>{{ taxable_income.taxable_income_source.name }}</td>
                                <td colspan='1'></td>
                                <td colspan='1' text-right>{{ taxable_income.amount|floatformat:'2g' }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan='1'></td>
                            <td colspan='2'>Selfemployment net {% if selfemployment_is_loss %}loss{% else %}profit{% endif %}</td>
                            <td colspan='1'></td>
                            <td colspan='1' text-right>{{selfemployment_net_profit|floatformat:"2g"}}</td>
                        </tr>
                        <tr>
                            <td colspan='2'></td>
                            <td colspan='1'>Total income</td>
                            <td colspan='1'></td>
                            <td  class="bt-1 pt-1 pl-2" colspan='1' text-right>{{tax_calc.income.total_income|floatformat:"2g"}}</td>
                        </tr>
                        
                        <tr>
                            <!-- empty row -->
                            <td class="h-10" colspan="5"></td>
                        </tr>
                        
                        <tr>
                            <td colspan='1'></td>
                            <td colspan='2'>Personal Allowance</td>
                            <td colspan='1'></td>
                            <td colspan='1' text-right>{{tax_calc.income.reduced_personal_allowance|floatformat:"2g"}}</td>
                        </tr>
                        
                        <tr>
                            <!-- empty row -->
                            <td class="h-10" colspan="5"></td>
                        </tr>
                        
                    </tbody>
                    <tfoot>
                        <tr class="font-bolder underline">
                            <td colspan="4">Taxable Income for {{tax_year_prev}}/{{tax_year_next}}</td>
                            <td colspan="1" text-right>{{tax_calc.income.taxable_income|floatformat:"2g"}}</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="spacer h-40"></div>
                
                <table class="w-full fs-inherit" data-uk-tax>
                    <thead>
                        <tr>
                            <td class="font-bolder" colspan="7">Income Tax and NIC Caluclation</td>
                        </tr>
                        <tr>
                            <!-- empty row -->
                            <td class="h-10" colspan="7"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- UK Tax -->
                        <tr class='font-bolder'>
                            <td colspan="7" class="text-left pl-20">Income Tax</td>
                        </tr>
                        {% for tax in tax_calc.uk_tax.details %}
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1" class='text-right'>{{tax.applied_on|floatformat:"2g"}}</td>
                                <td colspan="1" class="text-right pr-5">at</td>
                                <td colspan="1">{{tax.rate|floatformat:"2g"}}%</td>
                                <td colspan="1" class='text-right'>{{tax.amount|floatformat:"2g"}}</td>
                                <td colspan="1"></td>
                            </tr>
                        {% endfor %}
                        <tr class="font-bolder">
                            <td colspan="3"></td>
                            <td colspan="3" text-right>Tax Liability</td>
                            <td colspan="1" class="pl-5 text-right">{{tax_calc.uk_tax.total|floatformat:"2g"}}</td>
                        </tr>

                        <tr>
                            <!-- empty row -->
                            <td class="h-10" colspan="7"></td>
                        </tr>

                        <!-- Class 4 NI -->
                        <tr class='font-bolder'>
                            <td colspan="7" class="text-left pl-20">Class 4 NI</td>
                        </tr>
                        {% for tax in tax_calc.class_4.details %}
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="1" class='text-right'>{{tax.applied_on|floatformat:"2g"}}</td>
                                <td colspan="1" class="text-right pr-5">at</td>
                                <td colspan="1">{{tax.rate|floatformat:"2g"}}%</td>
                                <td colspan="1" class='text-right'>{{tax.amount|floatformat:"2g"}}</td>
                                <td colspan="1"></td>
                            </tr>
                        {% endfor %}
                        <tr class="font-bolder">
                            <td colspan="3"></td>
                            <td colspan="3" text-right>Plus Class 4 NIC</td>
                            <td colspan="1" class="pl-5 text-right">{{tax_calc.class_4.total|floatformat:"2g"}}</td>
                        </tr>

                        <tr>
                            <!-- empty row -->
                            <td class="h-10" colspan="7"></td>
                        </tr>
                        <!-- Class 2 NI -->
                        <tr class='font-bolder'>
                            <td colspan="7" class="text-left pl-20">Class 2 NI</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="4">Plus Class 2 NIC <span class="color-red">(Earning Above £{{tax_calc.class_2.earning_limit|floatformat:"2g"}})</span></td>
                            <td colspan="1" class="text-right font-bolder">{{tax_calc.class_2.total|floatformat:"2g"}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <!-- empty row -->
                            <td class="h-20" colspan="7"></td>
                        </tr>
                        <tr class="font-bolder">
                            <td colspan="6">Income Tax &amp; NIC</td>
                            <td colspan="1" class="pl-5 text-right">{{tax_calc.total_tax|floatformat:"2g"}}</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="spacer h-40"></div>

                <table class="w-full fs-inherit">
                    <thead>
                        <tr>
                            <th colspan="4">Less Tax deducted at Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for taxable_income in taxable_incomes %}
                            <tr>
                                <td colspan="1"></td>
                                <td colspan="1">{{taxable_income.taxable_income_source.name}}</td>
                                <td colspan="1" class="text-right">{{taxable_income.paid_income_tax_amount|floatformat:"2g"}}</td>
                                <td colspan="1"></td>
                            </tr>
                        {% endfor %}
                        <tr class="text-right">
                            <td colspan="1"></td>
                            <td colspan="2">Total deduction</td>
                            <td colspan="1">{{tax_calc.total_paid_tax|floatformat:'2g'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <!-- empty row -->
                            <td class="h-30" colspan="4"></td>
                        </tr>
                        <tr class="font-bolder doubble-underline">
                            <td colspan="3">TAX AND CLASS 2 &amp; 4 NIC DUE</td>
                            <td colspan="1" class="text-right">{{tax_calc.total_tax_due|floatformat:"2g"}}</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="spacer h-40"></div>

                {% if tax_calc.adv_tax > 0 %}
                <div class="fs-10">
                    <div>** Please Note, If your due tax & NIC more than £1000.00, Govt. introduced advance tax system.</div>

                    <div class="d-f items-center justify-between">
                        <h2 class="d-ib fs-inherit">DUE ADVANCE TAX FOR {{tax_year_prev|add:'1'|floatformat}}/{{tax_year_next|add:'1'|floatformat}} TAX YEAR</h2>
                        <span>{{ tax_calc.adv_tax|floatformat:'2g' }}</span>
                    </div>
                    <div class="d-f items-center justify-between">
                        <h2 class="d-ib fs-inherit">TOTAL DUE TAX ON 31 JANUARY {{tax_year_next}} TAX YEAR</h2>
                        <span>{{ tax_calc.net_total_tax|floatformat:'2g' }}</span>
                    </div>
                </div>
                {% endif %}
            </section>
        {% endif %}
    </article>
</body>
</html>