*, *::after, *::before{
    padding: 0;
    margin: 0;
}
h1, h2{
    padding: 5pt 0pt;
}

@font-face {
    font-family: DejaVuSans;
    src: url(accounts/templates/accounts/DejaVuSans.ttf);
}
@page {
    size: A4 portrait;
    margin: 0.75in; /* Set margin on each page */
    @top-right{
        content: "Page " counter(page) "/" counter(pages);
        text-align: right;
        vertical-align: bottom;
        font-size: 8.5pt;
        font-weight: thin;
    }

    @top-left{
        content: element(page-top-left);
        text-align: left;
        vertical-align: bottom;
    }
}
[top-left]{
    position: running(page-top-left);
    margin: 0;
    padding: 0;
}
/* page-breaking */
[page-break-after]{
    page-break-after: always;
    display: block;
}
[page-break-before]{
    page-break-before: always;
    display: block;
}

body{
    font-size: 11pt;
    font-family: DejaVuSans, serif, sans-serif;
    text-align: justify;
}

.text-center {
    text-align:center;
}
.to-upper{
    text-transform: uppercase;
}
.underline{
    text-decoration: underline;
}
.font-blod{ font-weight: bold; }
.fs-14{ font-size: 14pt; }
.fs-13{ font-size: 13pt; }
.fs-12{ font-size: 12pt; }
.fs-11{ font-size: 11pt; }
.fs-10{ font-size: 10pt; }
.fs-9\.5{ font-size: 9.5pt; }
.fs-9{ font-size: 9pt; }
.fs-8\.5{ font-size: 8.5pt; }
.fs-8{ font-size: 8pt; }
.fs-7\.5{ font-size: 7.5pt; }
.fs-7{ font-size: 7pt; }
.fs-6\.5{ font-size: 6.5pt; }
.fs-6{ font-size: 6pt; }
.fs-5{ font-size: 5pt; }
.fs-4{ font-size: 4pt; }
.fs-3{ font-size: 3pt; }

.d-ib{
    display: inline-block;
}
.d-f{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.spacer{
    display: block;
    height: 50pt;
}

#agreement {

}

[data-client-details] * {
    display: inline-block;
}
[data-client-details] {
    margin-top: 5pt;
    margin-bottom: 5pt;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#profit-and-loss {}

#tax-calculation{

}