<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tax Account</title>

    {% comment %} 
    <!-- the below css will be added from python using weasyprint library -->
    <link rel="stylesheet" href="accounts/templates/accounts/tax_report_style.css"/>
    {% endcomment %}
</head>
<body>
    {% comment %} Agreement Page {% endcomment %}
    <article page-break-before page-break-after>
        <section>
            <h1 class="text-center underline">ACCOUNTANT'S REPORT</h1>
            <p>
                We have prepared without carrying out an audit the attached
                Profit and Loss accounts for the year ended <strong>05 April {{tax_year_next}}</strong>.
                These have been prepared from the information, accounting
                records and explanation received from <strong>{{client_name}}</strong>.
            </p>
        </section>

        <div class="spacer"></div>
        <div class="spacer"></div>

        <section>
            <div class="d-f items-center justify-between">
                <h2 class="d-ib">RIVIA SOLUTION LTD</h2>
                <span>Date: …………………………….</span>
            </div>
            <strong class="underline"><i>Accountants</i></strong>
            <address>
                Unit-111, 2<sup>nd</sup> Floor<br>
                Greatorex Business Centre<br>
                8-10 Greatorex Street<br>
                London E1 5NF<br>
            </address>
        </section>

        <div class="spacer"></div>

        <section>
            <h1 class="text-center underline">CLIENT'S APPROVAL</h1>
            I have approved the attached Profit & Loss Accounts for the
            period from <strong>06 April {{tax_year}} to 05 April {{tax_year_next}}</strong>. These have been
            prepared from the information, records and explanation given by me.
            <div class="spacer"></div>
            <div class="d-f items-center justify-between">
                <strong>{{client_name}}</strong>
                <span>Date: …………………………….</span>
            </div>
        </section>
    </article>

    {% comment %} Profit and Loss Page {% endcomment %}
    <article page-break-before page-break-after>
        <h1 class="underline text-center fs-13">Profit and loss for the year ended 5 April {{tax_year_next}}</h1>
    </article>

    {% comment %} Tax Calculation Page {% endcomment %}
    <article page-break-before page-break-after>
        <h1 class="underline text-center fs-13">Tax account for the year ended 5 April {{tax_year_next}}</h1>
    </article>
</body>
</html>