{% load static %}
{% load accounts_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tax Account</title>

    {% comment %} 
    <!-- the below css will be added from python using weasyprint library -->
    <link rel="stylesheet" href="accounts/templates/accounts/tax_report_style.css"/>
    {% endcomment %}
</head>
<body>
    {% comment %} Agreement Page {% endcomment %}
    <article id="agreement" page-break-before page-break-after>
        <section>
            <h1 class="text-center underline to-upper">Account's Report</h1>
            <p>
                We have prepared without carrying out an audit the attached
                Profit and Loss accounts for the year ended <strong>05 April {{tax_year_next}}</strong>.
                These have been prepared from the information, accounting
                records and explanation received from <strong>{{client_name}}</strong>.
            </p>
        </section>

        <div class="spacer"></div>
        <div class="spacer"></div>

        <section>
            <div class="d-f items-center justify-between">
                <h2 class="d-ib">RIVIA SOLUTION LTD</h2>
                <span>Date: …………………………….</span>
            </div>
            <strong class="underline"><i>Accountants</i></strong>
            <address>
                Unit-111, 2<sup>nd</sup> Floor<br>
                Greatorex Business Centre<br>
                8-10 Greatorex Street<br>
                London E1 5NF<br>
            </address>
        </section>

        <div class="spacer"></div>

        <section>
            <h1 class="text-center to-upper underline">Client's Approval</h1>
            I have approved the attached Profit & Loss Accounts for the
            period from <strong>06 April {{tax_year}} to 05 April {{tax_year_next}}</strong>. These have been
            prepared from the information, records and explanation given by me.
            <div class="spacer"></div>
            <div class="d-f items-center justify-between">
                <h2 class="fs-11">{{client_name}}</h2>
                <span>Date: …………………………….</span>
            </div>
        </section>
    </article>

    {% comment %} Profit and Loss Page {% endcomment %}
    <article id="profit-and-loss" page-break-before page-break-after>

        <section>
            <h1 class="to-upper fs-11">Profit and loss for the year ended 5 April {{tax_year_next}}</h1>
            <aside data-client-details class="fs-8.5">
                <strong>{{client_name}}</strong>
                <address>
                    <pre>{{client_address}}</pre>
                </address>
            </aside>

            <br>

            <section>
                <table class="fs-8" data-expense-list>
                    <thead>
                        <tr>
                            <th>Expenses</th>
                            <th>Amount(£)</th>
                            <th>Personal usage(%)</th>
                            <th>Amount - Personal usage(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in selfemployment_expenses %}
                            <tr>
                                <td>{{expense.expense_source}}</td>
                                <td class="text-right">{{expense.amount|floatformat:"2g"}}</td>
                                <td class="text-right">{{expense.personal_usage_percentage}}</td>

                                {% with expense.amount|as_percentage_of:expense.personal_usage_percentage as personal_usage %}
                                    <td class="text-right">{{expense.amount|subtract:personal_usage|floatformat:"2g"}}</td>
                                {% endwith %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <th class="text-left" colspan="3">Total Allowanble Expenses</th>
                            <th class="text-right">{{selfemployment_total_expense|floatformat:"2g"}}</th>
                        </tr>
                    </tbody>
                </table>

                <br>

                <table class="fs-8" data-deduction-list>
                    <thead>
                        <tr>
                            <th>Deduction and Allownace Sources</th>
                            <th>Value(£)</th>
                            <th>Allownace(%)</th>
                            <th>Personal usage(%)</th>
                            <th>Capital Allowance(£)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for deduction in deductions_and_allowances %}
                            <tr>
                                <td>{{deduction.deduction_source}}</td>
                                <td class="text-right">{{deduction.amount|floatformat:"2g"}}</td>
                                <td class="text-right">{{deduction.allowance_percentage}}</td>
                                <td class="text-right">{{deduction.personal_usage_percentage}}</td>

                                {% with deduction.amount|as_percentage_of:deduction.allowance_percentage as allowance %}
                                {% with allowance|as_percentage_of:deduction.personal_usage_percentage as personal_usage %}
                                    <td class="text-right">{{allowance|subtract:personal_usage|floatformat:"2g"}}</td>
                                {% endwith %}
                                {% endwith %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <th class="text-left" colspan="4">Capital Allownace Deduction For This Period</th>
                            <th class="text-right">{{selfemployment_total_deduction_and_allowance|floatformat:"2g"}}</th>
                        </tr>
                    </tbody>
                </table>
                
                <br/>
                <hr/>
                <br/>

                <h2 class="fs-9 font-normal d-f justify-between">Selfemployment Income (Including Tips) <span>{{selfemployment_total_income|floatformat:"2g"}}£</span></h2>
                <h2 class="fs-9 font-normal d-f justify-between"><span><strong>Less:</strong> Total Allowanble Expenses </span><span>{{selfemployment_total_expense|floatformat:"2g"}}£</span></h2>
                <h2 class="fs-9 font-normal d-f justify-between"><span><strong>Less:</strong> Capital Allownace and Deduction For This Period </span><span>{{selfemployment_total_deduction_and_allowance|floatformat:"2g"}}£</span></h2>
                <h2 class="fs-10 font-bold d-f justify-between">Selfemployment Net Profit <span>{{selfemployment_net_profit|floatformat:"2g"}}£</span></h2>
            </section>
        </section>

    </article>


    {% comment %} Tax Calculation Page {% endcomment %}
    <article id="tax-calculation" page-break-before page-break-after>

        <h1 class="to-upper fs-11">Tax account for the year ended 5 April {{tax_year_next}}</h1>
        <aside data-client-details class="fs-8.5">
            <strong>{{client_name}}</strong>
            <address>
                <pre>{{client_address}}</pre>
            </address>
        </aside>

    </article>
</body>
</html>