{% extends "base.html" %}
{% load static %}

{% block title %}
  Limited Account Submission
{% endblock title %}

{% block head %}
  
{% endblock head %}

{% block content %}

<!-- messages -->
{% if messages %}
{% for message in messages %}
<h1 class='message {{ message.tags }}'>
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
  {{ message }}
</h1>
{% endfor %}
{% endif %}

<!-- searchbar -->
{% include "companies/searchbar.html" %}

<!-- add all limiteds -->
{% if request.user.is_superuser %}
<div class="mt-5 grid place-items-center">
  <a href="{% url add_all_limited_to_limited_account_submission %}" class="create px-4 py-2 text-md font-semibold rounded-md">
    Add all Limited to Limited Account Submission</a>
</div>
{% endif %}

<!-- data -->
{% autoescape off %}
  {{ data_container }}
{% endautoescape %}


<!-- data template -->
{% autoescape off %}
  {{ template_tag }}
{% endautoescape %}


<!-- data -->
<input hidden aria-hidden="true" type="url" name="all_url" value="{{ limited_account_submission_viewall_url }}">
<input hidden aria-hidden="true" type="url" name="search_url_without_argument" value="{{ limited_account_submission_search_url_without_argument }}">
<input hidden aria-hidden="true" type="url" name="update_url_without_argument" value="{{ limited_account_submission_update_url_without_argument }}">
<input hidden aria-hidden="true" type="url" name="delete_url_without_argument" value="{{ limited_account_submission_delete_url_without_argument }}">
<pre hidden aria-hidden="true" name="model_fields">{{ model_fields }}</pre>

{% endblock content %}
