{% extends "bare_base.html" %}
{% load static %}


{% block title %}
  Login
{% endblock title %}

{% block head %}
<link rel="stylesheet" href='{% static "css/style.css" %}' />
{% endblock head %}

{% block content_body %}
<body>
<div class="h-screen w-full grid place-items-center dark:bg-gray-700">
    <div class="relative sm:max-w-sm w-[80dvw]">
        <div class="card bg-blue-400 shadow-lg w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
        <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
        <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 dark:bg-gray-500 dark:text-gray-200 shadow-md">
            <label for="email" class="block w-full mx-auto !mr-0 mt-2 text-xl text-gray-700 dark:text-gray-200 text-center font-bold">
                Login
            </label>
            
            {% comment %} Login Form {% endcomment %}
            <form method="POST" action="{% url 'users_login' %}" class="mt-8">
                {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <div>
                        <input id="email" name="email" {% if form.email.value %} value="{{ form.email.value }}" {% endif %} required type="email" placeholder="Email" class="mt-1 px-4 py-2 outline-none block w-full border-none dark:text-gray-100 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:bg-gray-800 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0 placeholder-gray-500 dark:placeholder-gray-50 ">
                    </div>

                    <div class="mt-6">
                        <input name="password" {% if form.password.value %} value="{{ form.password.value }}" {% endif %} required type="password" placeholder="Password" class="mt-1 px-4 py-2 outline-none block w-full border-none dark:text-gray-100 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:bg-gray-800 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0 placeholder-gray-500 dark:placeholder-gray-50">
                    </div>
                    
                    {% if message %}
                    <span class="mt-4 px-4 py-2 inline-block text-white w-full bg-red-400 rounded-xl shadow-lg">
                        {{ message }}
                    </span>
                    {% endif %}

                    <div class="my-6">
                        <button class="w-full text-white bg-blue-500 hover:bg-blue-400 active:bg-blue-600 hover:outline-none appearance-none rounded-md px-4 py-2 font-semibold shadow-md hover:shadow-lg">
                            Login
                        </button>
                    </div>

                    {% comment %}
                    <div class="mt-7">
                        <div class="w-full px-2 flex justify-between">
                            <label class="text-sm text-gray-700 dark:text-white mr-auto">Don't have an account?</label>
                            <a href="{% url 'users_signup' %}" class="custom-link">
                                Sign Up
                            </a>
                        </div>
                    </div>
                    {% endcomment %}
    
            </form>
            {% comment %} End Login Form {% endcomment %}
        </div>
    </div>
</div>
</body>
{% endblock content_body %}