{% extends "base.html" %}
{% load static %}

{% block title %}
  Home Selfassesment
{% endblock title %}

{% block head %}
  
{% endblock head %}

{% block content %}

<!-- messages -->
{% if messages %}
{% for message in messages %}
<h1 class='message {{ message.tags }}'>
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
  {{ message }}
</h1>
{% endfor %}
{% endif %}

<!-- searchbar -->
{% include "companies/searchbar.html" %}


<!-- data -->
{% autoescape off %}
  {{ data_container }}
{% endautoescape %}


<!-- data template -->
{% autoescape off %}
  {{ template_tag }}
{% endautoescape %}


<!-- data -->
<input hidden aria-hidden="true" type="url" name="all_url" value="{{ selfassesment_account_submission_viewall_url }}">
<input hidden aria-hidden="true" type="url" name="search_url_without_argument" value="{{ selfassesment_account_submission_create }}">
<input hidden aria-hidden="true" type="url" name="update_url_without_argument" value="{{ selfassesment_account_submission_update_url_without_argument }}">
<input hidden aria-hidden="true" type="url" name="delete_url_without_argument" value="{{ selfassesment_account_submission_delete_url_without_argument }}">
<pre hidden aria-hidden="true" name="model_fields">{{ model_fields }}</pre>

<!-- script -->
{% endblock content %}

<!-- message clases = 'message error success' -->
