{% load static %}
{% load companies_tags %}

<div style="position: relative;" class="search_field">
  <input value="{{ repr_format }}" name="repr_format" type="text"  aria-hidden="true" hidden>
  <input value="{{ search_url }}" name="search_url" type="text"  aria-hidden="true" hidden>
  <input value="{{ all_url }}" name="all_url" type="text"  aria-hidden="true" hidden>
  <input type="text" class="search" {% if widget.attrs.disabled %} disabled aria-disabled="true" {% endif %} {% if widget.attrs.required %} required required="true" aria-required="true" {% endif %} name="search" autocomplete="off" value="{{ value }}" placeholder="Please select an option">

  <div class="select" name="{{ widget.name }}" id="{{ 'id_'|addstr:widget.name }}" {% include "companies/widgets/attrs.html" %}>
    {% if value %}
      <span class="option selected" value="{{ value.pk }}" data-value="{{ value.pk }}">{{ value }}</span>
    {% endif %}
    {% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
    <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
      {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
    </optgroup>
    {% endif %}{% endfor %}
  </div>

  <!-- actual input -->
  <select class="hidden" name="{{ widget.name }}" id="{{ 'id_'|addstr:widget.name }}">
    <option value="{{ value.pk }}" selected>{{ value }}</option>
  </select>
  <script type="module" src='{% static "js/form_search.js" %}'></script>
</div>