{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} Rivia {% endblock title %}</title>
    
    <link rel="stylesheet" href='{% static "css/style.css" %}' />
    <link rel="stylesheet" href='{% static "css/custom_scrollbar.css" %}' />
    {% block head %} {% endblock head %}
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>
  </head>
  
  <body class="font-normal text-gray-700 dark:text-gray-400 bg-gray-200 dark:bg-gray-900 min-w-full min-h-screen">
    <!-- navbar -->
    {% include "navbar.html" %}
    
    <!-- content -->
    <div class="mx-auto w-[99vw]">
      {% block content %} {% endblock content %}
    </div>

    <!-- js -->
    <script type="module" src='{% static "js/script.js" %}'></script>
  </body>
</html>
